# Functions to handle nested lists & dictionaries in dataframes

changelog:
- change 'dataframe' parameters to 'df'
- change return statements (remove parens)
- columns_to_expand: change row index 1 to 0 (0-based python indexing), make list comprehension
- unnest_column: modify df & assign back to df instead of new df with more complex name (saves from creating variables just to change and not use them)
- expand_columns: 
    - remove \_i\_ variables to save space (instead of making new variables for every loop)
    - change loop index to be col instead of i (better readability)
    - remove code that casts each label as a string, since that is already the default for the code
    - change vars for column name expansion to be more readable
    - add 'remove' flag for removing source column (would be redundant info)

### Flatten nested DataFrame

In [11]:
def is_nested(col):
    return any([True for x in col if type(x) in (dict, list)])

In [8]:
def expand_series(series):
    # Ensure variable is of proper type
    try:
        assert isinstance(series, pd.Series)
    except AssertionError:
        raise ValueError(f'series argument must be of type pd.Series, not {type(series)}')
        
    ## Expand column
    col_expand = series.apply(pd.Series).dropna(axis=1, how='all')
    col_name = series.name

    ## Rename expanded columns to clarify source
    #add source column name prefix to each new column to identify source
    col_expand_names = [f'{col_name}_{nested_col}' for nested_col in col_expand.columns]
    #rename columns
    col_expand.columns = col_expand_names

    return col_expand

In [9]:
def flatten_nested_df(df):
    """
    Takes in a DataFrame and flattens any nested columns.
    
    Params:
    - df: pd.DataFrame
    """
    # If the df is empty, then we want to return
    if df.empty:
        return df
    # If the df is a Series, convert to DataFrame
    if isinstance(df, pd.Series):
        df = pd.DataFrame(df)
    # If there's only one column & it's not nested, return it
    if df.shape[1] == 1:
        if not is_nested(df.iloc[:,0]):
            return df
    
    # Slice the first column off of the DataFrame
    first_col, df = df.iloc[:, 0], df.iloc[:, 1:]
    
    # If the first column is nested, unnest it
    if is_nested(first_col):
        first_col = expand_series(first_col)
    
    # Want to flatten the first column again (in case nested nested) and combine with the rest of the flattened df
    return flatten_nested_df(first_col).join(flatten_nested_df(df))

In [18]:
%%timeit
df = pd.DataFrame(output['hits']['hits'])
flatten_nested_df(df).head()

KeyboardInterrupt:

In [21]:
pd.DataFrame([flatten(result) for result in output['hits']['hits']])

,conceptdoi,conceptrecid,created,doi,files_0_bucket,files_0_checksum,files_0_key,files_0_links_self,files_0_size,files_0_type,...,files_206_key,files_206_links_self,files_206_size,files_206_type,files_207_bucket,files_207_checksum,files_207_key,files_207_links_self,files_207_size,files_207_type
0,10.5281/zenodo.3662112,3662112,2020-02-11T09:00:48.461959+00:00,10.5281/zenodo.3662113,54dc6794-9135-4217-af9e-cc1649960b90,md5:c4da02730a59a3dea2f1cbad807ac198,opium-sh/prl-v0.1.0.zip,https://zenodo.org/api/files/54dc6794-9135-421...,54220.0,zip,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10.5281/zenodo.3530883,3530883,2019-11-06T21:34:30.631777+00:00,10.5281/zenodo.3530884,0b2a69fa-3fcf-46d6-b8e5-fbffe4118952,md5:643878148673ee42bd3dba97317de02a,kratzert/ealstm_regional_modeling-v1.0.zip,https://zenodo.org/api/files/0b2a69fa-3fcf-46d...,13877577.0,zip,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10.5281/zenodo.4738769,4738769,2021-05-05T10:21:43.604973+00:00,10.5281/zenodo.4738770,fdefeabc-7897-4130-9628-438795c877c2,md5:0c8ea118118b0300a150b7f54ffc56e8,kratzert/multiple_forcing-v1.0.zip,https://zenodo.org/api/files/fdefeabc-7897-413...,133317.0,zip,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,4768051,2021-05-17T17:53:16.165204+00:00,10.1007/s10994-021-05968-x,a43e8b77-a43a-488c-8e02-489f02047271,md5:82cb35e198d55ae12aef1e51f1aefb10,krlj2021_Article_AutoBOTEvolvingNeuro-symbol...,https://zenodo.org/api/files/a43e8b77-a43a-488...,3000278.0,pdf,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,3461067,2019-09-26T00:12:55.671236+00:00,10.1007/s10994-019-05800-7,9503c5c7-366f-42f6-8400-136e06048bf5,md5:1154a531d98a264cf0be1c2ff5c6df58,mlsvm-1.1.0.tar.gz,https://zenodo.org/api/files/9503c5c7-366f-42f...,15351705.0,gz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,10.5281/zenodo.3885379,3885379,2020-06-08T13:45:13.634996+00:00,10.5281/zenodo.3885380,7f3afc61-6fd0-490d-b33c-4ebb9f4114f3,md5:eac2b256689593bb3e64b00086ac3180,Report_Ravi_Charan Nudurupati.pdf,https://zenodo.org/api/files/7f3afc61-6fd0-490...,1222283.0,pdf,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,10.5281/zenodo.4330625,4330625,2020-12-17T00:12:53.596641+00:00,10.5281/zenodo.4330626,f153353f-3eb6-42ae-8c39-499472ccdf18,md5:257084366693d11c1ac4095d7dd9d06b,czi_2020.pptx,https://zenodo.org/api/files/f153353f-3eb6-42a...,89373190.0,pptx,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,10.5281/zenodo.3982839,3982839,2020-08-13T16:31:08.841046+00:00,10.5281/zenodo.3982840,0f00582c-eeff-4529-b26a-e57d03f17487,md5:70be06a4f15f50744b9a8ab1d0c87b93,01 Paper 01072023 IJCSIS Camera Ready pp1-5.pdf,https://zenodo.org/api/files/0f00582c-eeff-452...,709009.0,pdf,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,10.5281/zenodo.4738546,4738546,2021-05-05T08:27:32.575962+00:00,10.5281/zenodo.4738547,715bcc1b-7643-4f77-bd70-d1af56c99f92,md5:fe0e423ffde47ff3c9bc4132622bfd72,STOCK_MARKET_PREDICTION_USING_ANFIS_MACHINE_LE...,https://zenodo.org/api/files/715bcc1b-7643-4f7...,426325.0,pdf,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,NaN,3764648,2020-04-24T08:46:35.633521+00:00,10.1109/SYNASC49474.2019.00042,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Example using Zenodo API output

In [2]:
#import libraries
import os
import requests
import pandas as pd
import pickle
import pprint as pp
from flatten_json import flatten

In [3]:
#load credentials
with open('credentials.pkl', 'rb') as credentials:
        ZENODO_TOKEN = pickle.load(credentials)['ZENODO_TOKEN']

In [15]:
#Specify search term
SEARCH_TERM = 'machine learning'

#Specify parameters
PARAMS = {'q': SEARCH_TERM,
         'access_token': ZENODO_TOKEN,
         'page': 1,
         'size': 1000}

#Search
response = requests.get('https://zenodo.org/api/records', 
                        params = PARAMS)

In [16]:
#Put output into json format
output = response.json()

In [6]:
#View output
pp.pprint(output)

{'aggregations': {'access_right': {'buckets': [{'doc_count': 28, 'key': 'open'},
                                               {'doc_count': 3,
                                                'key': 'closed'}],
                                   'doc_count_error_upper_bound': 0,
                                   'sum_other_doc_count': 0},
                  'file_type': {'buckets': [{'doc_count': 6, 'key': 'txt'},
                                            {'doc_count': 5, 'key': 'csv'},
                                            {'doc_count': 5, 'key': 'pdf'},
                                            {'doc_count': 4, 'key': 'html'},
                                            {'doc_count': 4, 'key': 'xlsx'},
                                            {'doc_count': 3, 'key': 'zip'},
                                            {'doc_count': 2, 'key': 'gz'},
                                            {'doc_count': 2, 'key': 'nex'},
                                            {'doc_count': 2, 'key': 'xls'},
                                            {'doc_count': 1, 'key': 'docx'}],
                                'doc_count_error_upper_bound': 0,
                                'sum_other_doc_count': 6},
                  'keywords': {'buckets': [{'doc_count': 8,
                                            'key': 'Biodiversity'},
                                           {'doc_count': 8, 'key': 'Taxonomy'},
                                           {'doc_count': 6, 'key': 'Animalia'},
                                           {'doc_count': 6,
                                            'key': 'Tamias striatus'},
                                           {'doc_count': 4, 'key': 'Tamias'},
                                           {'doc_count': 3,
                                            'key': 'Arthropoda'},
                                           {'doc_count': 3,
                                            'key': 'Tamias alpinus'},
                                           {'doc_count': 3,
                                            'key': 'Tamias speciosus'},
                                           {'doc_count': 3, 'key': 'chipmunks'},
                                           {'doc_count': 2,
                                            'key': 'Glucocorticoids'}],
                               'doc_count_error_upper_bound': 0,
                               'sum_other_doc_count': 143},
                  'type': {'buckets': [{'doc_count': 18,
                                        'key': 'dataset',
                                        'subtype': {'buckets': [],
                                                    'doc_count_error_upper_bound': 0,
                                                    'sum_other_doc_count': 0}},
                                       {'doc_count': 10,
                                        'key': 'publication',
                                        'subtype': {'buckets': [{'doc_count': 6,
                                                                 'key': 'article'},
                                                                {'doc_count': 4,
                                                                 'key': 'taxonomictreatment'}],
                                                    'doc_count_error_upper_bound': 0,
                                                    'sum_other_doc_count': 0}},
                                       {'doc_count': 2,
                                        'key': 'software',
                                        'subtype': {'buckets': [],
                                                    'doc_count_error_upper_bound': 0,
                                                    'sum_other_doc_count': 0}},
                                       {'doc_count': 1,
                                        'key': 'other',
                                        'subtype': {'buckets': [],
                                                    'doc_count_error_upper_bound': 0,
                                                    'sum_other_doc_count': 0}}],
                           'doc_count_error_upper_bound': 0,
                           'sum_other_doc_count': 0}},
 'hits': {'hits': [{'conceptrecid': '4966916',
                    'created': '2021-06-16T14:25:57.408732+00:00',
                    'doi': '10.5061/dryad.c3sg55p',
                    'files': [{'bucket': '8a26640e-153c-43fb-b97c-5833a35dadbb',
                               'checksum': 'md5:30f66705913a2690132e4f23274cc4dd',
                               'key': 'comparative_trees.tar',
                               'links': {'self': 'https://zenodo.org/api/files/8a26640e-153c-43fb-b97c-5833a35dadbb/comparative_trees.tar'},
                               'size': 228352,
                               'type': 'tar'},
                              {'bucket': '8a26640e-153c-43fb-b97c-5833a35dadbb',
                               'checksum': 'md5:a074102d253a70c878c6f78f741783fe',
                               'key': 'H_cucullatum_alignments_trees.tar',
                               'links': {'self': 'https://zenodo.org/api/files/8a26640e-153c-43fb-b97c-5833a35dadbb/H_cucullatum_alignments_trees.tar'},
                               'size': 475136,
                               'type': 'tar'},
                              {'bucket': '8a26640e-153c-43fb-b97c-5833a35dadbb',
                               'checksum': 'md5:dfee3740f29443fc1b83e1c2f60ae344',
                               'key': 'R_eutamii_alignments_trees.tar',
                               'links': {'self': 'https://zenodo.org/api/files/8a26640e-153c-43fb-b97c-5833a35dadbb/R_eutamii_alignments_trees.tar'},
                               'size': 270848,
                               'type': 'tar'},
                              {'bucket': '8a26640e-153c-43fb-b97c-5833a35dadbb',
                               'checksum': 'md5:3ac65cb2a57089a07cf8c9df38f42c00',
                               'key': 'Tamias_host_alignments_trees.tar',
                               'links': {'self': 'https://zenodo.org/api/files/8a26640e-153c-43fb-b97c-5833a35dadbb/Tamias_host_alignments_trees.tar'},
                               'size': 184832,
                               'type': 'tar'}],
                    'id': 4966917,
                    'links': {'badge': 'https://zenodo.org/badge/doi/10.5061/dryad.c3sg55p.svg',
                              'bucket': 'https://zenodo.org/api/files/8a26640e-153c-43fb-b97c-5833a35dadbb',
                              'doi': 'https://doi.org/10.5061/dryad.c3sg55p',
                              'html': 'https://zenodo.org/record/4966917',
                              'latest': 'https://zenodo.org/api/records/4966917',
                              'latest_html': 'https://zenodo.org/record/4966917',
                              'self': 'https://zenodo.org/api/records/4966917'},
                    'metadata': {'access_right': 'open',
                                 'access_right_category': 'success',
                                 'communities': [{'id': 'dryad'}],
                                 'creators': [{'name': 'Bell, Kayce C.'},
                                              {'name': 'Demboski, John R.'},
                                              {'name': 'Cook, Joseph A.'}],
                                 'description': 'Parasitism is a common '
                                                'symbiotic interaction across '
                                                'diverse natural systems. '
                                                'Using a comparative '
                                                'evolutionary approach, we '
                                                'investigated the '
                                                'contributions of both host '
                                                'phylogeny and abiotic factors '
                                                'towards diversification of '
                                                'phylogenetically independent '
                                                'endoparasites that inhabit '
                                                'essentially the same physical '
                                                'space. We tested for '
                                                'host-parasite and '
                                                'parasite-parasite '
                                                'phylogenetic concordance in '
                                                'western North American '
                                                'chipmunks (Rodentia: '
                                                'Sciuridae) and two distantly '
                                                'related species of pinworms '
                                                '(Nematoda: Oxyurida). Deep '
                                                'structure in molecular '
                                                'phylogenies revealed signals '
                                                'of host-associated divergence '
                                                'in both parasite species, '
                                                'while shallower '
                                                'phylogeographic structure '
                                                'varied between the two '
                                                'parasites. This suggests that '
                                                'although these parasites '
                                                'experienced similar '
                                                'landscapes and cyclic climate '
                                                'processes, temporally '
                                                'distinctive diversification '
                                                'events were associated with '
                                                'differences in the initiation '
                                                'of their association with '
                                                'host lineages. When climate '
                                                'cycles initiate '
                                                'diversification, partially '
                                                'congruent, but asynchronous '
                                                'host-associated parasite '
                                                'phylogenies may emerge.',
                                 'doi': '10.5061/dryad.c3sg55p',
                                 'keywords': ['pinworm',
                                              'Rauschtineria eutamii',
                                              'Evolution: host/parasite',
                                              'chipmunk',
                                              'Heteroxynema cucullatum',
                                              'host-parasite codiversification',
                                              'comparative phylogeography',
                                              'Tamias spp.'],
                                 'license': {'id': 'CC0-1.0'},
                                 'locations': [{'place': 'western North '
                                                         'America'}],
                                 'notes': '<div '
                                          'class="o-metadata__file-usage-entry">Heteroxynema '
                                          'cucullatum DNA sequence alignments '
                                          'and phylogenies<div '
                                          'class="o-metadata__file-description">H_cucullatum_3loci_concatenated_MrBayes.tre: '
                                          'MrBayes tree of Heteroxynema '
                                          'cucullatum concatenated loci COI, '
                                          'ITS+, 28S\n'
                                          'H_cucullatum_3loci_starbeast.tre: '
                                          'Starbeast species tree of '
                                          'Heteroxynema cucullatum loci COI, '
                                          'ITS+, 28S\n'
                                          'H_cucullatum_COI_quadrivittatus_hosts_MrBayes.tre: '
                                          'MrBayes gene tree of COI for '
                                          'Heteroxynema cucullatum individuals '
                                          'that corespond to quadrivittatus '
                                          'group hosts (used in tanglegram)\n'
                                          'H_cucullatum_COI_T_minimus_hosts_MrBayes.tre: '
                                          'MrBayes gene tree of COI for '
                                          'Heteroxynema cucullatum individuals '
                                          'that corespond to Tamias minimus '
                                          'hosts (used in tanglegram)\n'
                                          'Heteroxynema_cucullatum_28S_MrBayes.tre: '
                                          'MrBayes gene tree of Heteroxynema '
                                          'cucullatum 28S\n'
                                          'Heteroxynema_cucullatum_28S_alignment.nex: '
                                          'DNA sequence alignment of '
                                          'Heteroxynema cucullatum 28S\n'
                                          'Heteroxynema_cucullatum_COI_MrBayes.tre: '
                                          'MrBayes gene tree of Heteroxynema '
                                          'cucullatum COI\n'
                                          'Heteroxynema_cucullatum_COI_RAxML.tre: '
                                          'RAxML gene tree of Heteroxynema '
                                          'cucullatum COI\n'
                                          'Heteroxynema_cucullatum_COI_alignment.nex: '
                                          'DNA sequence alignment of '
                                          'Heteroxynema cucullatum COI\n'
                                          'Heteroxynema_cucullatum_ITS_MrBayes.tre: '
                                          'MrBayes gene tree of Heteroxynema '
                                          'cucullatum ITS+\n'
                                          'Heteroxynema_cucullatum_ITS_alignment.nex: '
                                          'DNA sequence alignment of '
                                          'Heteroxynema cucullatum '
                                          'ITS+</div><div '
                                          'class="o-metadata__file-name">H_cucullatum_alignments_trees.tar<br></div></div><div '
                                          'class="o-metadata__file-usage-entry">Rauschtineria '
                                          'eutamii DNA sequence alignments and '
                                          'phylogenies<div '
                                          'class="o-metadata__file-description">R_eutamii_4loci_concatenated_MrBayes.tre: '
                                          'MrBayes tree of Rauschtineria '
                                          'eutamii concatenated loci COI, 12S, '
                                          '18S, 28S\n'
                                          'R_eutamii_4loci_starbeast.tre: '
                                          'Starbeast species tree of '
                                          'Rauschtineria eutamii loci COI, '
                                          '12S, 18S, 28S\n'
                                          'R_eutamii_COI_minimus_hosts_MrBayes.tre: '
                                          'MrBayes gene tree of COI for '
                                          'Rauschtineria eutamii individuals '
                                          'that corespond to Tamias minimus '
                                          'hosts (used in tanglegram)\n'
                                          'R_eutamii_COI_quadrivittatus_hosts_MrBayes.tre: '
                                          'MrBayes gene tree of COI for '
                                          'Rauschtineria eutamii individuals '
                                          'that corespond to quadrivittatus '
                                          'group hosts (used in tanglegram)\n'
                                          'Rauschtineria_eutamii_12S_MrBayes.tre: '
                                          'MrBayes gene tree of Rauschtineria '
                                          'eutamii 12S\n'
                                          'Rauschtineria_eutamii_12S_alignment.nex: '
                                          'DNA sequence alignment of '
                                          'Rauschtineria eutamii 12S\n'
                                          'Rauschtineria_eutamii_18S_MrBayes.tre: '
                                          'MrBayes gene tree of Rauschtineria '
                                          'eutamii 18S\n'
                                          'Rauschtineria_eutamii_18S_alignment.nex: '
                                          'DNA sequence alignment of '
                                          'Rauschtineria eutamii 18S\n'
                                          'Rauschtineria_eutamii_28S_MrBayes.tre: '
                                          'MrBayes gene tree of Rauschtineria '
                                          'eutamii 28S\n'
                                          'Rauschtineria_eutamii_28S_alignment.nex: '
                                          'DNA sequence alignment of '
                                          'Rauschtineria eutamii 28S\n'
                                          'Rauschtineria_eutamii_COI_MrBayes.tre: '
                                          'MrBayes gene tree of Rauschtineria '
                                          'eutamii COI\n'
                                          'Rauschtineria_eutamii_COI_RAxML.tre: '
                                          'RAxML gene tree of Rauschtineria '
                                          'eutamii COI\n'
                                          'Rauschtineria_eutamii_COI_alignment.nex: '
                                          'DNA sequence alignment of '
                                          'Rauschtineria eutamii COI</div><div '
                                          'class="o-metadata__file-name">R_eutamii_alignments_trees.tar<br></div></div><div '
                                          'class="o-metadata__file-usage-entry">Tamias '
                                          'DNA sequence alignments and gene '
                                          'trees<div '
                                          'class="o-metadata__file-description">T_minimus_cytb_hosts_of_H_cucullatum_MrBayes.tre: '
                                          'MrBayes gene tree of cytochrome b '
                                          'for Tamias minimus individuals that '
                                          'correspond to Heteroxynema '
                                          'cucullatum individuals (used in '
                                          'tanglegram)\n'
                                          'T_minimus_cytb_hosts_of_H_cucullatum_alignment.nex: '
                                          'DNA sequence alignment of '
                                          'cytochrome b for Tamias minimus '
                                          'individuals that correspond to '
                                          'Heteroxynema cucullatum '
                                          'individuals\n'

                                                'generalized linear mixed '
                                                'models and a model averaging '
                                                'approach, we examined the '
                                                'impacts of environmental and '
                                                'individual phenotypic '
                                                'parameters on FGMs. We found '
                                                'pronounced interspecific '
                                                'differences, with '
                                                'environmental parameters '
                                                'being better predictors of '
                                                'FGMs in T. alpinus. FGMs in '
                                                'this species were '
                                                'particularly elevated in less '
                                                'climatically suitable '
                                                'habitats and in areas with '
                                                'higher maximum daily '
                                                'temperatures. Individual '
                                                'phenotypic traits were not '
                                                'predictive of FGMs in T. '
                                                'alpinus, although they were '
                                                'highly predictive for T. '
                                                'speciosus. Collectively, '
                                                'these findings support the '
                                                'hypothesis that T. alpinus is '
                                                'more sensitive to '
                                                'environmental change. More '
                                                'generally, our results '
                                                'suggest that both phenotypic '
                                                'attributes and environmental '
                                                'conditions contribute to FGM '
                                                'responses but that the '
                                                'relative contributions of '
                                                'these factors differ among '
                                                'taxa, including among closely '
                                                'related species. Finally, our '
                                                'analyses underscore the value '
                                                'of glucocorticoids as '
                                                'bioindicators of sensitivity '
                                                'to environmental change in '
                                                'species for which the factors '
                                                'affecting stress physiology '
                                                'have been assessed.',
                                 'doi': '10.5061/dryad.8s444dr',
                                 'keywords': ['Tamias speciosus',
                                              'Non-invasive sampling',
                                              'Tamias alpinus',
                                              'chipmunks',
                                              'Glucocorticoids'],
                                 'license': {'id': 'CC0-1.0'},
                                 'locations': [{'place': 'California'},
                                               {'place': 'Sierra Nevada '
                                                         'Mountains'},
                                               {'place': 'Yosemite National '
                                                         'Park'}],
                                 'notes': '<div '
                                          'class="o-metadata__file-usage-entry">yosemite_weather_data_2<div '
                                          'class="o-metadata__file-description">Weather '
                                          'data for 2013-2015 from a Yosemite '
                                          'weather station downloaded from '
                                          'NOAA</div><div '
                                          'class="o-metadata__file-name"></div></div><div '
                                          'class="o-metadata__file-usage-entry">speciosus_data_ecolapp_dryad<div '
                                          'class="o-metadata__file-description">Tamias '
                                          'speciosus glucocorticoid data and '
                                          'associated biological and '
                                          'environmental data collected '
                                          '2013-2015 in Yosemite National Park '
                                          'and surrounding areas.</div><div '
                                          'class="o-metadata__file-name"></div></div><div '
                                          'class="o-metadata__file-usage-entry">alpinus_data_ecolapp_dryad<div '
                                          'class="o-metadata__file-description">Tamias '
                                          'alpinus glucocorticoid data and '
                                          'associated biological and '
                                          'environmental data collected '
                                          '2013-2015 in Yosemite National Park '
                                          'and surrounding areas.</div><div '
                                          'class="o-metadata__file-name"></div></div>',
                                 'publication_date': '2018-06-26',
                                 'related_identifiers': [{'identifier': '10.1002/eap.1781',
                                                          'relation': 'cites',
                                                          'scheme': 'doi'}],
                                 'relations': {'version': [{'count': 1,
                                                            'index': 0,
                                                            'is_last': True,
                                                            'last_child': {'pid_type': 'recid',
                                                                           'pid_value': '4945753'},
                                                            'parent': {'pid_type': 'recid',
                                                                       'pid_value': '4945752'}}]},
                                 'resource_type': {'title': 'Dataset',
                                                   'type': 'dataset'},
                                 'title': 'Data from: '
                                          'Glucocorticoid-environment '
                                          'relationships align with responses '
                                          'to environmental change in two '
                                          'co-occurring congeners'},
                    'owners': [90070],
                    'revision': 2,
                    'stats': {'downloads': 0.0,
                              'unique_downloads': 0.0,
                              'unique_views': 0.0,
                              'version_downloads': 0.0,
                              'version_unique_downloads': 0.0,
                              'version_unique_views': 0.0,
                              'version_views': 0.0,
                              'version_volume': 0.0,
                              'views': 0.0,
                              'volume': 0.0},
                    'updated': '2021-06-14T13:48:20.684520+00:00'},
                   {'conceptrecid': '5009452',
                    'created': '2021-06-22T01:29:49.219869+00:00',
                    'doi': '10.5061/dryad.708b0',
                    'files': [{'bucket': 'b714dfba-8ce3-43a5-918e-369414cfa535',
                               'checksum': 'md5:5223cb1ca6a35d88063d70ad2638f8de',
                               'key': 'Data_Fiola et al..xlsx',
                               'links': {'self': 'https://zenodo.org/api/files/b714dfba-8ce3-43a5-918e-369414cfa535/Data_Fiola%20et%20al..xlsx'},
                               'size': 41717,
                               'type': 'xlsx'}],
                    'id': 5009453,
                    'links': {'badge': 'https://zenodo.org/badge/doi/10.5061/dryad.708b0.svg',
                              'bucket': 'https://zenodo.org/api/files/b714dfba-8ce3-43a5-918e-369414cfa535',
                              'doi': 'https://doi.org/10.5061/dryad.708b0',
                              'html': 'https://zenodo.org/record/5009453',
                              'latest': 'https://zenodo.org/api/records/5009453',
                              'latest_html': 'https://zenodo.org/record/5009453',
                              'self': 'https://zenodo.org/api/records/5009453'},
                    'metadata': {'access_right': 'open',
                                 'access_right_category': 'success',
                                 'communities': [{'id': 'dryad'}],
                                 'creators': [{'affiliation': 'Universit de '
                                                              'Moncton',
                                               'name': 'Fiola, Marie-Line'},
                                              {'affiliation': 'University of '
                                                              'Manitoba',
                                               'name': 'Vernouillet, Alize'},
                                              {'affiliation': 'Universit du '
                                                              'Qubec  '
                                                              'Rimouski',
                                               'name': 'Villard, Marc-Andr'}],
                                 'description': 'The ecological literature '
                                                'presents considerable '
                                                'evidence for top-down forcing '
                                                'on the maintenance of species '
                                                'diversity. Yet, in temperate '
                                                'forests, bottom-up forces '
                                                'often exert a strong '
                                                'influence on ecosystem '
                                                'functioning. Here, we report '
                                                'on the indirect influence of '
                                                'a pulsed resource, sugar '
                                                'maple (Acer saccharum) seed '
                                                'production, on nest survival '
                                                'in a migratory songbird. We '
                                                'hypothesized that seed '
                                                'production in year t would '
                                                'determine daily nest survival '
                                                'rate in year t + 1 through '
                                                'its effects on seed-eating '
                                                'rodents. We used the density '
                                                'of sugar maple seedlings '
                                                '(with cotyledons) in year t + '
                                                '1 as a proxy for seed '
                                                'production in year t and '
                                                'predicted that it would be '
                                                'inversely related to songbird '
                                                'nest survival the same year. '
                                                'We estimated the density of '
                                                'sugar maple seedlings, '
                                                'eastern chipmunk (Tamias '
                                                'striatus) activity, and daily '
                                                'nest survival rate in the '
                                                'ovenbird (Seiurus '
                                                'aurocapilla) over four '
                                                'successive years in a '
                                                'northern hardwood forest of '
                                                'New Brunswick, Canada. '
                                                'Seedling density varied by '
                                                'two orders of magnitude '
                                                'between years, whereas an '
                                                'index of chipmunk activity '
                                                'changed by an order of '
                                                'magnitude. Both variables '
                                                'were positively correlated '
                                                'and negatively correlated to '
                                                'daily nest survival rate. A '
                                                'logistic-exposure model '
                                                'including only seedling '
                                                'density received the greatest '
                                                'level of support (lowest '
                                                'AICc). Previous studies have '
                                                'reported the effect of sugar '
                                                'maple masting on seed-eating '
                                                'rodent populations, but the '
                                                'strong link we report between '
                                                'seedling density and songbird '
                                                'nest survival is novel. A '
                                                'nocturnal seed-eating nest '
                                                'predator, deer mouse '
                                                '(Peromyscus maniculatus), was '
                                                'not considered in our models, '
                                                'which may explain why '
                                                'chipmunk was not the best '
                                                'predictor of daily nest '
                                                'survival rate. The trophic '
                                                'linkages we observed are '
                                                'remarkably strong for a '
                                                'temperate forest ecosystem '
                                                'and might become more '
                                                'prevalent in northeastern '
                                                'North America, at least on '
                                                'calcium-rich soils, with the '
                                                'loss of large-diameter beech '
                                                'trees as a result of beech '
                                                'bark disease.',
                                 'doi': '10.5061/dryad.708b0',
                                 'keywords': ['nest predation',
                                              'Tamias striatus',
                                              'indirect effects',
                                              'resource pulse',
                                              'Acer saccharum',
                                              'eastern deciduous forest',
                                              'Peromyscus maniculatus',
                                              '2012-2015',
                                              'Migratory songbirds',
                                              'Seiurus aurocapilla'],
                                 'license': {'id': 'CC0-1.0'},
                                 'locations': [{'place': 'New-Brunswick'}],
                                 'notes': '<div '
                                          'class="o-metadata__file-usage-entry">Data '
                                          'from: Linking songbird nest '
                                          'predation to seedling density: '
                                          'sugar maple masting as a resource '
                                          'pulse in a forest food web<div '
                                          'class="o-metadata__file-description">Nest '
                                          'data were collected in four 25 ha '
                                          'plots from 2012 to 2015. Each line '
                                          'corresponds to an Ovenbird nest. '
                                          'The number of exposure days was '
                                          'used to calculate the daily '
                                          'survival rate of nests. Mean '
                                          'chipmunk detections corresponds to '
                                          'the mean number of visual or aural '
                                          'detections recorded in each plot '
                                          'and year (6 surveys per plot per '
                                          'year). Mean seedling density '
                                          'indicates the mean density of '
                                          'newly-emerged sugar maple seedlings '
                                          '(with cotyledons) counted in fifty '
                                          '250 cm^2 quadrats in each plot and '
                                          'year. Treatment refers to selection '
                                          'harvesting (30-40% basal area '
                                          'removal) conducted in two of the '
                                          'four plots during the winter of '
                                          '2006-2007.</div><div '
                                          'class="o-metadata__file-name">Data_Fiola '
                                          'et al..xlsx<br></div></div>',
                                 'publication_date': '2018-10-17',
                                 'related_identifiers': [{'identifier': '10.1002/ece3.3581',
                                                          'relation': 'cites',
                                                          'scheme': 'doi'}],
                                 'relations': {'version': [{'count': 1,
                                                            'index': 0,
                                                            'is_last': True,
                                                            'last_child': {'pid_type': 'recid',
                                                                           'pid_value': '5009453'},
                                                            'parent': {'pid_type': 'recid',

In [ ]:
#Convert output to pd dataframe and see table format
output_df = pd.json_normalize(output)

output_df

In [ ]:
## Extract 'hits.hits' column and convert to dataframe
# note that name of column needs to be as string
hits_df = unnest_column(output_df, 'hits.hits')

In [ ]:
output_df['hits.hits']

In [ ]:
hits_df.head()

In [ ]:
## Determine which columns are themselves lists or dictionaries and need to be unnested
cols_nested = columns_to_expand(hits_df)

In [ ]:
cols_nested

In [ ]:
## For each list or dict column, expand column, rename columns to clarify source, and merge
unnested_output_ = expand_columns(hits_df, cols_nested)

In [ ]:
unnested_output.head()

In [ ]:
unnested_output[['files_0', 'files_1', 'files_2', 'files_3']]

In [ ]:
test_dict = {'a': [test_dict, test_dict], 'b': [4,5,6]}
df = pd.DataFrame(test_dict)

In [ ]:
df